.left {
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: rgb(255, 255, 255);
    width: 27.6vw;
    height: 80vh;
    border-radius: 6px;
    margin: 0 0.3vw 5vh 0.4vw;
    background: linear-gradient(
        -45deg,
        #033944,
        #44024b,
        rgb(75, 5, 5)
    );
    background-size: 400% 400%;
    animation: gradientMove 11s ease infinite;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.left::-webkit-scrollbar {
    display: none;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.player-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

#now-playing-cover {
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;
}

.now-playing-details {
    text-align: center;
}

.now-playing-details strong {
    font-size: 18px;
    display: block;
}

.now-playing-details span {
    font-size: 12px;
    color: #ffffff;
}

.seek-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    color: #ffffff;
    font-size: 14px;
}

#seek-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 22px;
    border: 0.2px solid rgb(253, 253, 253);
}

#seek-bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #ff0000 var(--progress-percent), #535353 var(--progress-percent));
    border-radius: 11px;
}

#seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ff8800;
    margin-top: -6px;
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.control-icon {
    height: 24px;
    width: 24px;
    filter: invert(1);
    cursor: pointer;
    transition: filter 0.2s;
}


.control-icon.play-pause {
    height: 40px;
    filter: invert(1);
    width: 40px;
}

.cat img{
    height: 100px;
    width: 100px;
    left:11vw;
    bottom:11vh;
    position: fixed;
}
