.login-container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.left-section {
  width: 50%;
  background: #7b0e96;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.illustration {
  width: 80%;
  border-radius: 20px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
}

.subtitle {
  font-size: 15px;
  width: 70%;
  margin-top: 10px;
  color:white;
}

.right-section {
  width: 50%;
  background: #f8a008;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-size: 32px;
  margin-bottom: 20px;
}

.logo img{
    height: 190px;
    width: 200px;
    mix-blend-mode: multiply;
}


.login-form {
  width: 70%;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  color: black;
}

input {
  padding: 12px;
  border: 2px solid #000000;
  border-radius: 60px;
  background-color: #dc68ff;
  margin-top: 5px;
  color:black;
  outline: none;
  font-size: 15px;
}

input::placeholder{
    color: #000000;
}

.forgot {
  text-align: right;
  margin-top: 5px;
  font-size: 13px;
  color: #000000;
}

.signin-btn {
  margin-top: 20px;
  padding: 12px;
  border: none;
  background: #1a252a;
  color: #fff;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
}
